<%=render 'shared/header'%>
<div class='main-menu'>
  <ul class='memo-menu'>
    <% if user_signed_in? %>
      <div class="search-form">
      <%= form_with url: search_path, method: :get, local: true do |f| %>
        <%= f.text_field :keyword, value: @keyword %>
        <%= f.submit "検索" %>
      <% end %>
      </div>
      <p>ようこそ <%= current_user.name %> さん</p>
      <li><%= button_to 'メモる', { controller: 'memos', action: 'new' }, method: :get, class: 'button' %></li>
      <div class='memo-main'>
        <% @memos.each do |memo| %>
          <li class='memo-view'>
            <%= link_to memo_path(memo.id), method: :get do %>
              <h3 class='memo-title'>
                <%= memo.memo_title %>
              </h3>
              <div class='memo-massage'>
                <%= memo.memo %>
              </div>
              <div class='memo-created-time'>
                <%= l memo.created_at %>
              </div>
            <%end%>
          </li>
        <% end %>  
        <% if @memos.empty? %>
          <div class='memo-empty-message'>
            <p>メモがないよ！</p>
          </div>
        <% end %>  
      </div>
    <% else %>
      <p>ログインか新規登録してね！<p>
    <% end %>  
  </ul>
</div>