 <%=render 'shared/header'%>
<p>メモ詳細</p>
<div class='header-menu'>
  <ul class='user-menu'>
    <li><%= button_to 'このメモを編集する', edit_memo_path(params[:id]), method: :get, class: 'button' %></li>
    <li><%= button_to 'このメモを削除', memo_path(params[:id]), method: :delete, data: {confirm: 'このメモを削除しますか？'},  class: 'button' %></li>  
  </ul>
</div>
<%if @memo.frame_type_id == 1 %>
<div class= 'memo-sheet'>
  <%=render 'shared/memo' %>
</div>
<% elsif @memo.frame_type_id == 2 %>
  <div class= 'memo-sheet'>
    <div class= 'memo-back-star-img'>
      <%=render 'shared/memo' %>
    </div>
  </div>
<% elsif @memo.frame_type_id == 3 %>
  <div class= 'memo-sheet'>
    <div class= 'maruhi-mark-img'>
       <%=render 'shared/memo' %>
    </div>
  </div>
<%end%>